/*EXPERIENCE*/

.container.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  max-width: 288px;
  margin: 0 auto 24px;
}

.experience-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 288px;
  margin: 0 auto 32px;
}

.coffe-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}
.experience-img {
  border-radius: 32px;
  overflow: hidden;
}

.experience-img img {
  height: 100%;
}

.div1,
.div2,
.div5,
.div6 {
  height: 288px;
}
.div3,
.div4 {
  height: 162px;
}
.div7 {
  height: 391px;
}

@media screen and (min-width: 768px) {
  .experience-title {
    width: 100%;
    max-width: 768px;
  }

  .experience-text {
    width: 100%;
    max-width: 768px;
  }

  .coffe-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .experience-img {
    width: calc((100% - 32px) / 2);
  }
  .div1,
  .div2,
  .div5,
  .div6 {
    height: 336px;
  }
  .div3,
  .div4 {
    height: 189px;
  }

  .div7 {
    width: 704px;
    height: 391px;
    justify-self: center;
  }
}
@media screen and (min-width: 1440px) {
  .experience-title {
    font-size: 48px;
  }

  .coffe-list {
    flex-direction: column;
    height: 948px;
    width: 100%;
  }

  .experience-img {
    width: calc((100% - 64px) / 3);
  }

  .div1,
  .div2,
  .div5,
  .div6,
  .div7 {
    height: 416px;
  }

  .div3,
  .div4 {
    height: 234px;
  }
}
