/*EXPERIENCE*/

.container.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  max-width: 288px;
  margin-bottom: 24px;
}

.experience-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 288px;
}

.img-container {
  margin-top: 32px;
  width: 100%;
}

.experience-grid-list-desk {
  display: none;
}

.experience-grid-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.experience-img {
  display: block;
  width: 100%;
  max-width: 375px;
  min-width: 288px;
  height: 100%;
  border-radius: 32px;
  overflow: hidden;
}

.experience-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div1,
.div2,
.div5,
.div6 {
  height: 288px;
}
.div3,
.div4 {
  height: 162px;
}
.div7 {
  height: 391px;
}

@media screen and (min-width: 375px) {
  .experience-img {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .experience-title {
    width: 100%;
    max-width: 768px;
  }

  .experience-text {
    width: 100%;
    max-width: 768px;
  }

  .experience-grid-list {
    display: grid;
    grid-template-columns: repeat(2, 336px);
    gap: 32px;
    justify-content: center;
    margin: 0 auto;
  }

  .experience-img {
    width: 336px;
  }
  .div1,
  .div2,
  .div5,
  .div6 {
    height: 336px;
  }
  .div3,
  .div4 {
    height: 189px;
  }

  .div7 {
    grid-column: 1 / -1;
    width: 704px;
    max-width: 704px;
    height: 391px;
    justify-self: center;
  }
}
@media screen and (min-width: 1440px) {
  .experience-title {
    font-size: 48px;
  }
  .experience-grid-list-mt {
    display: none;
  }
  .experience-grid-list-desk {
    display: grid;
  }

  .coffe-lists-desk {
    width: 1312px;
    display: grid;
    grid-template-columns: repeat(3, 416px);
    gap: 32px;
    margin: 0 auto;
    align-items: start;
  }

  .coffe-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .experience-grid-list-desk .experience-img {
    width: 416px;
    max-width: 416px;
  }

  .experience-grid-list-desk .div1,
  .experience-grid-list-desk .div2,
  .experience-grid-list-desk .div5,
  .experience-grid-list-desk .div6,
  .experience-grid-list-desk .div7 {
    height: 416px;
  }

  .experience-grid-list-desk .div3,
  .experience-grid-list-desk .div4 {
    height: 234px;
  }
}
