/*#region Footer#*/

.footer-container {
  background-color: #b58869;
  padding: 24px 16px;
}

.footer-content {
  background-color: #c29d84;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 40px;
  padding: 32px 48px;
  max-width: 343px;
  height: 500px;
  margin: 0 auto 32px;
}

.footer-logo-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo-link {
  width: 196px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
}

.footer-logo {
  fill: #0b0803;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.footer-social-item {
  transition: opacity 250ms ease-in-out;
}
.footer-social-item:hover,
.footer-social-item:focus {
  opacity: 0.5;
}
.footer-social-item:active {
  opacity: 0.7;
}
.footer-social-link {
  width: 32px;
  height: 32px;
}

.footer-social-icon {
  width: 32px;
  height: 32px;
  fill: #0b0803;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.footer-nav-item {
  transition: opacity 250ms ease-in-out;
}
.footer-nav-item:hover,
.footer-nav-item:focus {
  opacity: 0.5;
}
.footer-nav-item:active {
  opacity: 0.7;
}

.footer-item-link {
  line-height: 1.5;
  color: #0b0803;
  cursor: pointer;
}

.footer-text {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#endregion Footer#*/

/* #region Media Tablet*/
@media screen and (min-width: 768px) {
  .footer-container {
    min-width: 768px;
    width: 100%;
    height: 257px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer-content {
    max-width: 704px;
    height: 156px;
  }

  .footer-logo-link {
    width: 84px;
    height: 36px;
  }
  .footer-logo {
    width: 63px;
    height: 36px;
  }

  .footer-logo-social {
    gap: 40px;
    flex-direction: row;
  }

  .footer-social {
    gap: 12px;
    margin: 0;
  }

  .footer-social-link {
    width: 32px;
    height: 32px;
  }

  .icon-f {
    width: 24px;
    height: 24px;
  }

  .icon-i {
    width: 24px;
    height: 24px;
  }

  .icon-x {
    width: 24px;
    height: 24px;
  }

  .footer-nav-list {
    flex-direction: row;
    margin-top: 32px;
  }
}

/* #endregion Media Tablet*/

/* #region Media Desktop*/
@media screen and (min-width: 1440px) {
  .footer-container {
    min-width: 1440px;
    height: 201px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1312px;
    height: 100px;
  }

  .footer-logo-social {
    justify-content: flex-start;
  }

  .footer-nav-list {
    margin-top: 0;
  }
}

/* #endregion Media Desktop*/
