.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms ease,
    visibility 250ms ease;

  background-color: #e0cbb4;
}

.mobile-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-logo-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 84px;

  padding: 18px 0;
}

.mobile-logo {
  fill: #0b0803;
}

.mobile-close-btn {
  width: 48px;
  height: 48px;

  padding: 0;

  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 12px 0;
}

.mobile-close {
  fill: #0b0803;
}

.mobile-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile-item-link {
  text-align: center;
  line-height: 1.5;
  color: #0b0803;

  padding: 16px;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
